*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}
#title{
    text-align: center;
    font-weight: 400;
    font-size: 48px;
}
#Nome{
    text-align: center;
    font-weight: 600;
    font-size: 44px;
}
.Photo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Foto{
    width: 25%;

    border-radius: 50%;
}
em {
    color: rgb(53, 59, 136);
  }
a{
    text-decoration: none;
    color: black;
    margin: 20px;
    width: 700px;
}
.habilidades{
    font-size: 38px;
}
.Aut{
    font-size: 24px;
}
.Com{
    font-size: 22px;
}
.Ada{
    font-size: 20px;
}
.work{
    font-size: 18px;
}
.Cri{
    font-size: 16px;
}
.Per{
    font-size: 14px;
}